{% load static %}
<div class="container">
    <div class="card">
        <div class="imgBx">
            <img src="{% static 'image/kmbb.jpg' %}"  alt="kmbb">
        </div>
        <div class="content">
            <h3>KMBB College of Engineering <br> and Techonology, Khurda</h3>
            <p>BTech(ECE) 2019 <br> CGPA = 8.55/10</p>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="{% static 'image/ravenshaw.jpg' %}" alt="kmbb">
        </div>
        <div class="content">
            <h3>Ravenshaw Junior <br> College, Cuttack</h3>
            <p>Intermediate Science 2015 <br> Percentage = 70% </p>
        </div>
    </div>
    <div class="card">
        <div class="imgBx">
            <img src="{% static 'image/kgp_high.jpeg' %}"   alt="kmbb">
        </div>
        <div class="content">
            <h3>Kanheipur GP High <br> School, Cuttack</h3>
            <p>Matriculation 2019 <br> Percentage = 90%</p>
        </div>
    </div>
</div>
