<div class="jumbotron">
    <ol>
        <li>
            <div class="row">
                <div class="col" ><h3 style="text-align: left; font-family: 'Roboto' ; color: navy;">Nirmalya labs(2 months)</h3></div>
                <div class="col-8">
                    <p style="text-align: left;font-size: large;  font-family: 'Pacifico'; color: rgb(61, 87, 61); display: inline;">
                        <ul>
                            <li>I have worked here as Java Developer Intern.</li>
                            <li>I have worked here from June 2020 to July 2020.</li>
                            <li>I worked in project nERP with techonologies like java, springboot, maven, js, jquery, html/css 
                                and MySQL.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col" ><h3 style="text-align: left; font-family: 'Roboto' ; color: navy;">On Road Out(3 months)</h3></div>
                <div class="col-8">
                    <p style="text-align: left;font-size: large; font-family: 'Pacifico'; color: rgb(61, 87, 61); display: inline;">
                        <ul>
                            <li>I have worked here as Python Developer Intern.</li>
                            <li>I have worked here from August 2020 to October 2020.</li>
                            <li>I worked in project ORO with techonologies like Python, django, django rest framework, git, heroku, rest api  
                                and postgresSQL.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col" ><h3 style="text-align: left; font-family: 'Roboto' ; color: navy;">Winfo Solutions Private Limited(1 Year 4 Months and continuing)</h3></div>
                <div class="col-8">
                    <p style="text-align: left;font-size: large; font-family: 'Pacifico'; color: rgb(61, 87, 61); display: inline;">
                        <ul>
                            <li>I have worked here as Software Engineer.</li>
                            <li>I have started working here from November 2020.</li>
                            <li>I worked in project APECS and EBS Automation with techonologies like java, plsql, aplication developer framework(adf), oracle apex, python and robot framework.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </li>
    </ol>
</div>