{% load static %}
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <img id="profile_pic" src="{% static 'image/profile_pic.jpg' %}" alt="Avatar">
        </div>
        <div class="col-9">
            <div>
                <h2 id="welcome">I am Jajati Keshari Maharana.</h2>
                <p> 
                    I am a software Engineer at Winfo Solutions.
                    I am from Odisha. My email is jajati2506@gmail.com
                </p>
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <h2>Present Address</h2>
                        <p style="margin-left: 10px; text-align: left;">
                            Manikanta PG Hostel <br>
                            Rainbow Children's Hospital
                            <br> Hitech City
                            <br> Hyderabad, Telengana
                            <br> Pin- 500081
                        </p>
                    </div>
                    <div class="col">
                        <h2>Social Media Profiles</h2>
                        <ul>
                            <li><i class="fa fa-facebook-square" style="font-size: 25px;"><a href="https://t.ly/UWtI" target="_blank">@Jajati Keshari Maharana</a></i></li>
                            <li><i class="fa fa-linkedin" style="font-size: 25px;"><a href="https://t.ly/vAIz" target="_blank">@Jajati Maharana</a></i></li>
                            <li><i class="fa fa-github" style="font-size: 25px;"><a href="https://t.ly/O68Z" target="_blank">@Jajati Maharana</a></i></li>
                            <li><i class="fa fa-whatsapp" style="font-size: 25px;"><a href="https://t.ly/MvHj" target="_blank">Whatsapp Me</a></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>