<div class="jumbotron">
    <ol>
        <li>
            <div class="row">
                <div class="col" ><h3 style="text-align: left; font-family: 'Roboto' ; color: navy;">Blog Website</h3></div>
                <div class="col-8">
                    <p style="text-align: left;font-size: large;  font-family: 'Pacifico'; color: rgb(61, 87, 61); display: inline;">
                        I used html/css, react and node.js for fronted and ajax. I used postgresSql for database. I used drf for rest api.
                        It has feature like blog posting and comment adding. It shows comment on the blog post for differrent user.
                    </p>
                </div>
            </div>
        </li>
        <hr>
        <li>
            <div class="row">
                <div class="col" ><h3 style="text-align: left; font-family: 'Roboto' ; color: navy;">Ecommerce Website</h3></div>
                <div class="col-8">
                    <p style="text-align: left;font-size: large; font-family: 'Pacifico'; color: rgb(61, 87, 61); display: inline;">
                        According to its name it shows different product. It uses different technologies like react, nodejs, html/css, drf, postgresSQL.
                        It uses sheduler to check out of stock product. It has two sites one is for developers and other one is for users. Users have there different account and 
                        developers have their own. 
                    </p>
                </div>
            </div>
        </li>  
    </ol>
</div>