<div class="jumbotron">
    <div class="container" id="skillstocenter">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 style="text-align: center; margin-top: 50px;">Programming <br> Skills </h2>
                </div>
                <div class="flip-card-back">
                   <center>
                        <ul style="margin: 25px;">
                            <li>Python</li>
                            <li>Java</li>
                            <li>JavaScript</li>
                            <li>SQL</li>
                        </ul>
                   </center>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 style="text-align: center; margin-top: 50px; ">Web Development <br> Skills </h2>
                </div>
                <div class="flip-card-back">
                    <center>
                        <ul style="margin: 25px;">
                            <li>Django</li>
                            <li>JQuery</li>
                            <li>Springboot</li>
                            <li>HTML/CSS</li>
                            <li>React</li>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 style="text-align: center; margin-top: 50px;">Other <br> Skills </h2>
                </div>
                <div class="flip-card-back">
                    <center>
                        <ul style="margin: 25px;">
                            <li>ADF</li>
                            <li>Oracle EBS</li>
                            <li>Data Science</li>
                            <li>Machine Learning</li>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>